@import "bulma/css/bulma.css";

$primary-color: #0f4254;
$button-color: rgb(255, 208, 0);

body{
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    background-color: $primary-color;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 10px;
    width: 60vw;
    color: white;
    font-size: 1.6rem;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.714);
    font-size: 1.6rem;
}

th, tr, td{
    border: 2px solid white;
}

.idEdit{
    color: white;
    font-size: 1.6rem;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    border: 2px solid white;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}